h1{
  color: white;
  text-align: center;
  background-color: green;
}

h3{
	
	color: brown;
	text-align: center;
	
}

body {
  background-color: #ffeaa7;
  
}

li{
	
	color: brown;
	
}


